html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: middle;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body{
    min-height: 610px;
    background: #411564;
    direction: rtl;
    min-width: 1037px;
}

button{
    outline: none;
}

#Main-Container{
    margin-top:40px;
    margin-left: auto;
    margin-right: auto;
    width: 1037px;
    height: 588px;
    background-image: url("../img/BG.png");
    background-repeat:no-repeat;
}
.coupon-button{
        background: url('../img/coupon_button.png');
}
    .about-button{
        background: url('../img/odot_button.png');
    }
    .result-button{
        background: url('../img/totzaot_button.png'); 
    }
    .footer-btn{
        width: 206px;
        height: 39px;
        display: inline-block;
        cursor: pointer;
    }
    #Main-Answers{
           background: url("../img/white_BG.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
            height: 262px;
            margin-right: 200px;
            margin-top: 220px;
            position: absolute;
            width: 577px;
    }
    #Answers-Container{
        margin-right: 80px;
        margin-top: 60px;
        position: absolute;

    }
    #Main-Question{
        margin-right: 55px;
        margin-top: 30px;
        position: absolute;
    }
    li .answer{
        cursor: pointer;
    }
    #Contact-Final-Container: {
        background: url("../img/questions_box.png");
        background-repeat: no-repeat;
        width: 577px;
        height: 262px;
        position: absolute;
    }
    #Contact-Final-Submit{
        background: url("../img/finnish+send_button.png");
        width: 271px;
        height: 45px;
        position: absolute;
        margin-top: 400px;
        margin-right: 350px;
        cursor: pointer;
    }
    #Contact-Final-Footer{
        position: absolute;
        margin-top: 500px;
        margin-right: 200px;
    }
#Main-Answers-Meter{
    background: url("../img/mad_intimiut.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 262px;
    margin-right: 800px;
    margin-top: 219px;
    position: absolute;
    width: 201px; 
}
