html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: middle;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body{
    min-height: 610px;
    background: #411564;
    direction: rtl;
}

button{
    outline: none;
}

#woman-product {
    position: absolute;
    left: 49px;
    top: 62px;
}

#odot {

  display: none;
}

.thecoupon{
    display: none;
}

.coupon {

    position: absolute;
    background: url("../img/coupon%20tofes.png");
    width: 1000px;
    height: 550px;
    top: 20px;
    right: 18px;
    display: none;
    background-repeat: no-repeat;
    background-color: rgba(255,255,255);
    background-position: 207px 72px;
}




#Content{
    position: relative;
    top: 40px;;
    width: 1037px;
    height: 588px;
    background: url("../img/BG.png");
    margin: 0 auto;
}

#Box{
    position: absolute;
    margin: 0 auto;
    width: inherit;
    height: inherit;
}

#start{
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: url("../img/main_txt.png");
    background-repeat: no-repeat;
    background-position: 360px 38px;
}

#ready_button{
    cursor: pointer;
    background: url("../img/ready_button.png");
    width: 287px;
    height: 79px;
    display: inline-block;
    position: absolute;
    right: 23%;
    top: 58%;
}

*+html #ready_button{
    top: 329px;
}

.odot_button,.coupon_button{
    width: 206px;
    height: 39px;
    display: inline-block;
    cursor: pointer;
}

.odot_button{
    background: url("../img/odot_button.png");
}

.coupon_button{
    background: url("../img/coupon_button.png");
}

.ma_anu_button,.coupon_15_button{
    cursor: pointer;
    width: 210px;
    height: 39px;
    display: inline-block;
}

.ma_anu_button{
    background: url("../img/ma_anu_button.png");
}

.coupon_15_button{
    background: url("../img/coupon_15%25_button.png");
}

#results > .down_buttons {
    right: 3%;
    bottom: 9%;
}

.down_buttons {
    position: absolute;
    bottom: 10%;
    right: 17%;
}

*+html .down_buttons {
    top: 490px;
}

.main-window{
    display: none;
    height: 100%;
    background: url("../img/coteret.png");
    background-repeat: no-repeat;
    background-position: center 75px;
}

.question{
    background: url("../img/white_BG.png");
    background-repeat: no-repeat;
    width: 577px;
    height: 262px;
    margin: 0 auto;
    position: absolute;
    bottom: 100px;
    right: 130px;
}

.answer1{
    background: url("../img/1.png");
    background-repeat: no-repeat;
    width: 35px;
    height: 34px;
}

.answer2{
    background: url("../img/2.png");
    background-repeat: no-repeat;
    width: 35px;
    height: 34px;
}

.answer3{
    background: url("../img/3.png");
    background-repeat: no-repeat;
    width: 35px;
    height: 34px;
}

.answer1, .answer2, .answer3 {
    cursor: pointer;
    border: 0px;
    margin-top: auto;
    display: inline-block;
}

input[type="radio"] {
    margin: 0px;
    display: none;
}

p {
    position: relative;
    right: 70px;
    top: 5px;
    color: #411564;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
}

.answer {
    cursor: pointer;
    color: #411564;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
    vertical-align: middle !important;
}

.main-window > .down_buttons {
    text-align: center;
    position: relative;
    top: 87%;
    bottom: 0px;
    right: 0px;
}

.question_title {
    position: relative;
    margin: 30px 38px auto auto;
    color: #411564;
    font-family: arial,sans-serif;
    font-weight: bold;
    font-size: 20px;
    width: 406px;
}

.mad_intimiut {
    background: url("../img/mad_intimiut.png");
    width: 201px;
    height: 262px;
    position: absolute;
    bottom: 100px;
    left: 95px;
}

.mad_arrow {
    background: url("../img/mad_arrow.png");
    width: 86px;
    height: 48px;
    display: inline-block;
    margin-top: 213px;
}

.userInfo {
    background: url("../img/questions_box.png");
    background-repeat: no-repeat;
    width: 577px;
    height: 262px;
    margin: 0 auto;
    position: absolute;
    bottom: 100px;
    right: 234px;
}

#submit {
   
    background: url("../img/finnish+send_button.png");
    width: 271px;
    height: 45px;
    /*display: block;*/
	display: inline-block;
   /* margin: 0 auto;*/
    top: 210px;
    position: absolute;
    right: 146px;
	cursor: pointer;
}

/*
old
.block > textarea {
    border: 1px solid #000;
    border-radius: 8px;
}
*/

.block > textarea {
    border: 1px solid #000;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
    min-width: 540px;
    margin-right:14px;
}



.block {
    display: block;
    text-align: center;
    position: absolute;
    top: 111px;
    width: 100%;
}


.block > input {
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
}

.resultCompare {
    background: url("../img/double_mad.png");
    background-repeat: no-repeat;
    width: 647px;
    height: 359px;
    margin: 0 auto;
    position: absolute;
    bottom: 100px;
    right: 234px;
}

#results > .resultCompare{
    display: none;
}


.mad_all_girls {
    background: url("../img/mad_all_girls.png");
    width: 277px;
    height: 70px;
    display: inline-block;
    position: relative;
    top: 257px;
    right: 23px;
}

.mad_shelach {
    background: url("../img/mad_shelach.png");
    width: 277px;
    height: 70px;
    display: inline-block;
    position: relative;
    top: 257px;
    left: 15px;
}

#toda{
    background: url("../img/toda.png");
    width: 216px;
    height: 52px;
    display: block;
    margin: 0 auto;
    position: relative;
    right: 0px;
    top: 240px;
}

.showResult{
    cursor: pointer;
    background: url("../img/totzaot_button.png");
    width: 206px;
    height: 39px;
    display: block;
    margin: 0 auto;
    top: 290px;
    position: relative;
}

.counter {
    position: absolute;
    top: 249px;
    right: 570px;
    color: #DA4AAB;
}
.Comment {
position: absolute;
top: 450px;
right: 170px;
color: #DA4AAB;
}

.showMsgResult {
    cursor: pointer;
    background: url("../img/totzaot_button.png");
    width: 206px;
    height: 39px;
    display: inline-block;
    margin: 0 auto;
    top: inherit;
    position: relative;
}

#results{
    display: none;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: url("../img/coteret_answer.png");
    background-repeat: no-repeat;
    background-position: 420px 38px;

    /* ,url("../img/woman+product.png"),url("../img/totsaot_box.png"); ,76px 48px,385px 175px */
}

#result1,#result2,#result3{
    width: 609px;
    height: 292px;
    display: none;
    top: 180px;
    position: absolute;
    right: 45px;
    background: url("../img/totsaot_box.png");
}

.selected{
    outline:#411564 solid 2px;
}


.name, .phone, .email,.address,.zip,.city {
    /*position: absolute;*/
    /*top: 138px;*/
    /*width:140px;*/
}

.address,.zip,.city{
    top:168px !important;
    margin-top: 10px;
}

.name{
    right:0px;
}

.phone{
    right:33% ;
}

.email{
    right:66%;
}

.address{
    right:0px;
}

.zip{
    right:66%;
}
.city{
    right: 33%;
}


.closeCoupon, .closeOdot {
    width: 31px;
    height: 30px;
    position: absolute;
    background: transparent;
    display: inline-block;
    border-radius: 100%;
    top: 74px;
    cursor: pointer;
    right: 10px;
}

.closeCoupon{
    right:177px;
}


.takanon {
    cursor: pointer;
    background: url("../img/takanon.png");
    width: 54px;
    height: 14px;
    position: absolute;
    display: inline-block;
    bottom: 30px;
    left: 40px;
}

*+html .takanon {
    top: 546px;
}

.resultP {
    top: 80px;
    right: 18px;
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    width: 546px;
}

.result_title {
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif;
    color: #411564;
    position: absolute;
    top: 31px;
    right: 19px;
}

.answer{
    cursor: pointer;
}

#coupon {
  display: none;
}

.AgreeNews {
    position: absolute;
    top: 94px;
    right: 157px;
}

.couponForm {
    width: 500px;
    margin: 0 auto;
    top: 182px;
    position: absolute;
    right: 70px;
}

.submitCoupon {
    background: url("../img/send_button.png");
    width: 166px;
    height: 31px;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 62px;
    right: 156px;
}

.coupon {
    width: 1000px;
    height: 550px;
    top: 20px;
    right: 18px;
    display: none;
    background-repeat: no-repeat;
    background-color: rgba(255,255,255);
    background-position: 207px 72px;
}

li {
    margin: 17px 30px 0px 0px;
}

.share-button {
    background: url("../img/share_button.png");
    width: 60px;
    height: 18px;
    position: absolute;
    bottom: 40px;
    left: 930px;
    display: none;
}

#success {
    right: 228px;
    top: -126px;
    display: none;
}

#close {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity:0;
    cursor: pointer;
     position: absolute;
     top: 6px;
     right: 4px;
     width: 27px;
     height: 26px;
     border-radius: 100px;
    opacity: 0;
 }

#closeodot {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity:0;
    cursor: pointer;
    opacity: 0;
    position: absolute;
    width: 27px;
    height: 26px;
    border-radius: 100px;
    top: 10px;
    right:0px;
}

.textcount {
    position: absolute;
    top: 317px;
    left: 269px;
    font-family: sans-serif;
    color: #411564;
}

